DJANGO_SECRET_KEY=""
DEBUG=True
LOCAL_USER=italo
SYSTEM_USER=
SERVER_ADDRESS=
DB_TYPE=mysql
TOKEN_EXPIRY=300
PASSAPP_API_TOKEN=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=3306

CONTAINER_USER_PATH=
SYSTEM_PATH=

APP_PORT=8002
APP_VERSION=0.5
APP_TITLE=Abraao
APP_DESCRIPTION="Abraao Legal"
GITHUB_USER=italo2sanfer
GITHUB_REPO=abraao
GITHUB_IMAGE_NAME=abraao
