DJANGO_SECRET_KEY=""
DEBUG=True
APP_PORT=8001
LOCAL_USER=italo
SYSTEM_USER=
SERVER_ADDRESS=
DB_TYPE=mysql
TOKEN_EXPIRY=300
PASSAPP_API_TOKEN=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=3306

CONTAINER_USER_PATH=
SYSTEM_PATH=
