*~
*.db
*.swp
deploy/
data/
# Virtualenv
.venv/
env/
venv/
# Python cache
__pycache__/
*.pyc
# Django
*.log
staticfiles/
media/
# Environment variables
.env
.env.*
# MyPy / Ruff / Pytest
.mypy_cache/
.ruff_cache/
.pytest_cache/
# VSCode / IDEs
.vscode/
.idea/
