
<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <title>Peregrino Abraão</title>
  </head>
  <body>
    <div>
      {% if messages %}
          {% for message in messages %}
              <div {% if message.tags %} class="text-center alert alert-{{message.tags}} alert-dismissible fade show"{% endif %} role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      {% endif %}
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h2>Jesus</h2>
          <div class="text">
            <p>He is the son of David.
              The Lion of the tribe of Judah.
              ​​He, the savior, is a descendant of the pilgrim Abraham.</p>
          </div>
        </div>
        <div class="col">
          <h2>Pilgrim Abraham</h2>
          <div class="text">
            <p>The father of faith. A man chosen by God to live by faith.
              His faithfulness made him known throughout the world, by all religions.
              His name is respected. He is the father of Isaac, the father of Jacob, the father of Judah.
              ​​The father of David.</p>
        </div>
        <div class="col">
          {% block content %}
            <h2>Italo2sanfer</h2>
            <div >
              <p>Here I am. :).<a href="https://sites.google.com/view/italo2sanfer/início" class="botaoIndex btn btn-success">link</a></p>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    <div id="foo_bar"></div>
  </body>
</html>